.btn-outline-light{
    display: inline;
    white-space: nowrap;
    margin-right: 10%;
    margin-left: 10%;
}
.navbar-nav{
    position: relative;
    height: 20%;
}

.navbar-expand-lg{
    height: 20%;
}

#btVoltar{
    margin-top: 2%;
    margin-left: 10%;
}

#divForm{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: block;
}

#divProcedimento{
    display: inline;
}

#divBt{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
#btSubmit{
    width: 20%;
}

/* .form-group{
    display:inline;
} */