#divForm{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    display: block;
}

#divProcedimento{
    display: inline;
}

#divBt{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}
#btSubmit{
    width: 20%;
}

/* .form-group{
    display:inline;
} */