.mb3 {
    text-align: center;
}

.btn-outline-light{
    display: inline;
    white-space: nowrap;
    margin-right: 10%;
    margin-left: 10%;
}
.navbar-nav{
    position: relative;
    height: 20%;
}

.navbar-expand-lg{
    height: 20%;
}

.btn-primary{
    background-color: chocolate;
}
.navbar-nav{
    border-radius: 5px;
}

#div-table{
    margin-left: 10%;
    margin-right: 10%;
}

#table{
    text-align: center;
}

.dt-search{
    margin-top: 2%;
}

#dt-search-0{
    margin-left: 1%;
}

.dt-length{
    display: none;
}